<footer>
    <div class="footer-content">
        <div class="contact-info">
            <h3>Contact Information</h3>
            <p>Email: steamzamenabycomi@gmail.com</p>
            <p>Phone: +381 63 17 47 820</p>
            <p>Address: Dusan Tripkovic, Sjenica, Serbia</p>
        </div>
        <div class="social-media">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="https://www.instagram.com/samirtalovic/">Insta<i class="fab fa-facebook"></i></a>
                <a href="https://www.facebook.com/samir.talovic.92?locale=sr_RS">Facebook<i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Samir Talović. All rights reserved.</p>
    </div>
</footer>
